apscheduler==3.10.1
beautifulsoup4==4.12.2
flask==2.3.2
flask-mysql==1.5.2
flask-restx==1.1.0
flask-cors==3.0.10
numpy==1.23.5
pandas==2.0.1
pymysql==1.0.3
requests==2.25.1
selenium==4.9.1
sqlalchemy==2.0.15
tensorflow==2.12.0
uwsgi==2.0.21
webdriver_manager==3.8.6
